html{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fondoarriba{
    color: black;
    text-align: center;
    padding-top: 96px;
}

h1{
    padding-top: 3em;
    text-align: center;
    transition: transform 0.33s ease;
}

h1:hover{
    text-decoration: underline;
    color: yellow;
    transform: scale(1.03);
}

h2{
    padding-top: 3em;
}

.menu{
    display: flex;
    height: 3em;
    background-color: black;
    position: sticky;
    color: white;
    top: 0px;
    z-index: 9;
    text-align: center;
}

.menu a{
    color: white;
    margin:auto;
    justify-content: space-between;
    text-align: center;
    padding: 0.5em;
}
.menu a:hover{
    color: yellow;
}

body{
    background-color: rgb(0, 36, 32);
    margin: 0%;
    font-family: Arial, sans-serif;
    color: white;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 22%;
}

.footer_izquierda {
    width: 30%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.redes_sociales {
    width: 30%;
    text-align: center;
}

.final iframe{
    height: 333px;
    width: 555px;
    margin-right: 13em;
}

.redes_sociales a {
    display: inline-block;
    margin: 5px;
}

.redes_sociales img {
    width: 30px;
    height: 30px; 
}

.nav_derecha {
    background-color: rgb(0, 36, 32);
    color: white;
    padding: 10px;
    text-align: center;
}

.nav_derecha a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.titulo-categorias {
    text-align: center;
    margin: 20px;
}

.productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.producto-carrito {
    text-align: center;
    color: white;
    padding: 10px;
    margin: 0.33em;
    margin-left: 0.33em;
    margin-right: 0.33em;
    width: calc(22% - 33px);
    box-sizing: border-box;
}

.total-container {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: transform 0.33s ease;
}

button:hover {
    background-color: yellow;
    transform: scale(1.03);
}
