html{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fondoarriba{
    color: black;
    text-align: center;
    padding-top: 96px;
    padding-bottom: 33px;
}

h1{
    padding-top: 3em;
    text-align: center;
    transition: transform 0.33s ease;
}

h1:hover{
    text-decoration: underline;
    color: yellow;
    transform: scale(1.03);
}
.menu{
    display: flex;
    height: 3em;
    background-color: black;
}

.menu a{
    color: white;
    margin:auto;
    justify-content: space-between;
    text-align: center;
    padding: 0.5em;
}
.menu a:hover{
    color: yellow;
}
  
body{
    background-color: rgb(0, 36, 32);
    margin: 0%;
    color:black;
    font-family: Arial, sans-serif;
    text-align: center;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 22%;
}

.footer_izquierda {
    width: 30%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.redes_sociales {
    width: 30%;
    text-align: center;
}

.final iframe{
    height: 333px;
    width: 555px;
    margin-right: 13em;
}

.redes_sociales a {
    display: inline-block;
    margin: 5px;
}

.redes_sociales img {
    width: 30px;
    height: 30px; 
}

.nav_derecha {
    background-color: rgb(0, 36, 32);
    color: white;
    padding: 10px;
    text-align: center;
}

.nav_derecha a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

section.formulario {
    max-width: 333px;
    margin: 33px auto;
    padding: 13px;
    background-color: white;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 13px;
}

input {
    padding: 13px;
    margin-bottom: 33px;
}

button {
    color: white;
    padding: 13px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color:yellow;
}

p{
    margin-top: 13px;
    font-size: 13px;
    color: black;
}

button {
    padding: 10px 20px;
    background-color: green;
    color: black; 
    border: none; 
    cursor: pointer; 
}