html{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fondoarriba{
    background-image: url('imagenes/banner_renault.jpg');
    background-size:cover;
    height: 569px;
    width: 100%;
    margin-top: -1.33%;
}

h1{
    padding-top: 3em;
    text-align: center;
    transition: transform 0.33s ease;
}

h1:hover{
    text-decoration: underline;
    color: yellow;
    transform: scale(1.03);
}

.menu{
    display: flex;
    height: 3em;
    background-color: black;
    position: sticky;
    color: white;
    top: 0px;
    z-index: 9;
    text-align: center;
}

.menu a{
    color: white;
    margin:auto;
    justify-content: space-between;
    text-align: center;
    padding: 0.5em;
}
.menu a:hover{
    color: yellow;
}
  
body{
    background-color: rgb(0, 36, 32);
    margin: 0%;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 22%;
}

.footer_izquierda {
    width: 30%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.redes_sociales {
    width: 30%;
    text-align: center;
}

.final iframe{
    height: 333px;
    width: 555px;
    margin-right: 13em;
}

.redes_sociales a {
    display: inline-block;
    margin: 5px;
}

.redes_sociales img {
    width: 30px;
    height: 30px; 
}

.nav_derecha {
    background-color: rgb(0, 36, 32);
    color: white;
    padding: 10px;
    text-align: center;
}

.nav_derecha a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.miniaturas img{
    height: 333px;
}

main {
    max-width: 888px;
    margin: 3em auto;
    background-color: rgb(0, 36, 32);
    padding-top: 3%;
}

.miniaturas{
    display: flex;
    position: relative;
    text-align: center;
    justify-content: space-between;
    margin-left: 13%;
    margin-right: 13%;
    color: white;
}

.miniaturas a :hover{
    color: white;
    background-color: yellow;
}

select, button {
    margin-top: 1em;
    padding: 13px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: transform 0.33s ease;
}

button:hover {
    background-color: yellow;
    transform: scale(1.03);
}